@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CODIGO ESCONDIDO </h1>

    <p class="lead">El juego consta en escanear, con tu celular, los codigos QR que se encuentran escondidos en el predio de la Bienal.</p>
    
</div>

