@model TesoroQR.Models.Tesoro.Pista
@{
    ViewBag.Title = "Pista";
}

<div class ="jumbotron">
    <h1>Pista N° @Model.orden </h1>
</div>


<div class="row">
    
    <div class="col-md-6">
        <h1>@Model.Nombre</h1>
        <h2>@Model.Descripcion</h2>
    </div>

</div>

